/* 改变主题变量，具体变量名可查看 taro-ui/dist/style/variables/default.scss 文件 */
$color-brand: #07C160 !default;
$color-brand-light: #07C160 !default;
$color-brand-dark: #07C160 !default;
$at-fab-bg-color-active: #07C160 !default;
$at-fab-bg-color-active: #07C160 !default;

/* 引入 Taro UI 默认样式 */
@import "~taro-ui/dist/style/index.scss";

page {
  width: 100%;
  height: 100%;
}

.at-button {
  border: none;
  line-height: 1;
  height: auto;
  padding: 0;
  margin: 0;
}
button {
  line-height: 1;
  background: transparent;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: start;
}
button::after {
  border: none;
}
.at-form::after {
  border: none;
}
//.at-textarea {
//  border: none;
//  padding: 0;
//}
//input {
//  min-height: 0;
//}
