.rightBottom {
  animation: animal 25s infinite linear ;
}

@-webkit-keyframes animal {
  0%{
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100%{
    transform: rotate(60deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
