.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 32px;
  margin: 0;
  //background: white;
  font-size: 32px;
  color: #444444;
  border-radius: 0;
}
